@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .text-buttons {
    @apply text-[15px] font-medium font-grtskTera uppercase tracking-[2.175px] leading-[15px];
  }
  .text-product-card {
    @apply text-[16px] font-sans uppercase font-bold leading-4;
  }
  .text-mons-normal-13 {
    @apply text-[13px] font-sans capitalize font-medium leading-[140%];
  }
  .text-mons-normal {
    @apply text-[13px] font-sans capitalize font-medium;
  }
  .text-mons-super {
    @apply text-[10px] font-sans uppercase font-bold align-super leading-4;
  }
  .text-mons-bold {
    @apply text-[10px] font-sans uppercase font-bold;
  }
  .text-mons-bold-12 {
    @apply text-[12px] font-sans uppercase font-bold tracking-[0.66px] leading-3;
  }
  .text-mons-normal-16 {
    @apply text-[16px] font-sans uppercase font-normal;
  }
  .text-mons-15 {
    @apply text-[15px] font-sans font-medium leading-[19.5px];
  }
  .text-grstk-10 {
    @apply text-[10px] font-grtskTera font-medium leading-[10px] uppercase tracking-[1.45px];
  }
  .text-mons-13 {
    @apply text-[13px] font-sans capitalize font-normal leading-normal;
  }
  .text-link {
    @apply text-[13px] font-grtskTera font-medium leading-[13px] tracking-[1.885px];
  }
  .text-header-3 {
    @apply text-[26px] font-grtskTera font-semibold leading-[13px] tracking-[1.885px];
  }
  .text-grtsk-15 {
    @apply text-[15px] font-grtskTera font-medium leading-[15px] tracking-[2.175px];
  }
  .text-grtsk-16 {
    @apply text-[16px] font-grtskTera font-normal leading-[16px] uppercase text-white;
  }
  .text-grtsk-16 {
    @apply text-[16px] font-grtskTera font-normal leading-[16px] uppercase text-white;
  }
  .text-grtsk-48 {
    @apply text-[48px] font-grtskTera font-medium leading-[48px] uppercase text-text-black-100;
  }
  .text-header-1 {
    @apply text-[64px] font-grtskTera font-medium leading-[100%];
  }
  .text-header-2 {
    @apply text-[42px] font-grtskTera font-semibold leading-[42px] tracking-[-1.47px];
  }
  .text-mons-14 {
    @apply text-[14px] font-sans font-semibold leading-[14px];
  }
  .text-grtsk-32 {
    @apply text-[32px] font-grtskTera font-normal leading-[32px] text-white;
  }
  .text-mons-16 {
    @apply text-[16px] font-sans font-semibold leading-[16px];
  }
  .search {
    @apply text-[15px] leading-[15px] font-normal font-sans placeholder-text-black-100 bg-transparent active:border-none focus:border-none focus-visible:border-none w-[400px];
  }
  .search-input {
    @apply text-grtsk-15  placeholder-text-black-100 bg-transparent active:border-none focus:border-none focus-visible:border-none w-[228px];
  }
  .heading-grstk {
    @apply text-[48px] font-grtskTera font-medium leading-[48px] uppercase;
  }
  .heading-2-grstk {
    @apply text-[42px] font-grtskTera font-medium leading-[42px];
  }
  .text-grstk-24 {
    @apply text-[24px] font-grtskTera font-medium leading-[28.8px];
  }
  .tag-border {
    @apply border-[0.8px] border-solid border-text-red;
  }
  .badge-border {
    @apply border border-solid;
  }
  .card-border {
    @apply border-2 border-solid border-border-whiteSmoke;
  }
}

.cross s,
strike {
  text-decoration: none;
  position: relative;
}
.cross::before s::before,
strike::before {
  top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
  background: red; /*this is the color of the line*/
  opacity: 0.7;
  content: "";
  width: 110%;
  position: absolute;
  height: 0.1em;
  border-radius: 0.1em;
  left: -5%;
  white-space: nowrap;
  display: block;
  transform: rotate(-15deg);
}
.cross.straight::before s.straight::before,
strike.straight::before {
  transform: rotate(0deg);
  left: -1%;
  width: 102%;
}

html {
  box-sizing: border-box;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.RightToLeft {
  animation: RightToLeft 3s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.LeftToRight {
  animation: LeftToRight 5s infinite linear;
}

@keyframes LeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.grayscale-bottom {
  background: linear-gradient(180deg, #093911 0%, rgba(10, 139, 30, 0.00) 100%), lightgray 50% / cover no-repeat, #FFF;
}
